.signIn{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 60% 40%;
    // font-family: 'Roboto Condensed', sans-serif;
   

    .carousel{
        background-color: rgb(241, 248, 240);
        display: grid;
        align-content: center;
        justify-content: center;
        img{
            // width: 100%;
            object-fit: cover;
            transform: rotate(-5deg);
        }
    }

    .form{
        display: grid;
        justify-content: center;
        align-content: center;
        
        .title{
            font-size: 1.8rem;
            font-family: 'Roboto Condensed', sans-serif;
            margin-bottom: 3rem;
        }

        .formField{
            display: grid;
            // gap: 2rem;

            .entry{
                display: grid;
                margin-bottom: 2rem;

                label{
                    font-weight: 300;
                    font-size: .9rem;
                    color: rgb(69, 69, 69);
                }

                input{
                    width: 27rem;
                    padding: 1rem;
                    outline: none;
                    border: 1px solid rgb(227, 233, 244);
                    border-radius: 10px;
                    margin-top: .8rem;
                }

                .password{
                    display: flex;
                    align-items: center;
                    .move{
                        margin-left: 1rem;
                        margin-top: 15px;
    
                        .icon{
                            font-size: 1.5rem;
                            color: rgb(70, 70, 187);
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        button{
            padding: 1rem;
            width: 29rem;
            outline: none;
            border: none;
            border-radius: 10px;
            background-color: rgb(70, 70, 187);
            color: #fff;
            cursor: pointer;
        }

        .google{
            background-color: #fff;
            color: rgb(58, 58, 58);
            border-radius: 10px;
            border: 1px solid rgb(227, 233, 244);
            display: grid;
            align-items: center;
            justify-content: center;
            grid-template-columns: auto auto;
            gap: 1rem;

            img{
                object-fit: cover;
            }
        }

        .or{
            display: grid;
            grid-template-columns: 13rem 1rem 13rem;
            gap: 1rem;
            justify-self: center;
            align-items: center;
            margin-top: 1.5rem;
            color: rgb(168, 162, 162);
            margin-bottom: 1.5rem;

            .line{
                height: 1px;
                background-color: rgb(229, 231, 252);
            }
        }

        p{
            font-size: .9rem;
            margin-top: 1rem;
        }
    }
}