.container1{
    box-shadow: 
    rgba(145, 158, 171, 0.2) 0px 0px 2px 1px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    // padding-bottom: 5rem;
    border-radius: 10px;
    display: grid;
    

    h2{
        margin-left: 1rem;
        margin-bottom: 1em;
        margin-top: 2rem;

        @media screen and (max-width:540px){
            font-size: .9rem;
           }
    }
}