.container2{
    box-shadow: 
    rgba(145, 158, 171, 0.2) 0px 0px 2px 1px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    padding: 1rem 0rem;
    border-radius: 10px;
    width: 100%;
    display: grid;
    gap: 1rem;

    h2{
        margin-left: 1rem;

        @media screen and (max-width:540px){
            font-size: .9rem;
           }
    }
}