.template2{
    display: grid;
    grid-template-columns: 4rem auto;
    align-items: center;
    padding-left: 1rem;
    gap: 2rem;

    @media screen and (max-width:540px){
        gap: 1rem;
       }

    .image{

        img{
            width: 4rem;
            height: 4rem;
            border-radius: 15px;
            object-fit: cover;

            @media screen and (max-width:540px){
                width: 3rem;
                height: 3rem;
               }
        }
    }

    .text{
        // line-height: .7rem;
        // justify-self: end;

        .name{
            // font-weight: bold;
            font-size: 1.2rem;
            color: rgb(39, 38, 38);

            @media screen and (max-width:540px){
                font-size: 13px;
               }
        }
        .price{
            color: rgb(149, 149, 149);
            font-size: 1.2rem;
            margin-top: -1rem;

            @media screen and (max-width:540px){
                font-size: 13px;
                margin-top: -0.5rem;
               }
        }
    }
}