.container2{
    box-shadow: 
    rgba(145, 158, 171, 0.2) 0px 0px 2px 1px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    width: 100%;
    padding: 1rem 0rem;
    display: grid;
    border-radius: 15px;
    justify-content: center;
    @media screen and (max-width:820px){
        height: 35rem;
    }

    h2{
        justify-self: center;
        // margin-left: 1rem;
    }

    .chart{
        justify-self: center;
    }
}