.container1{
    box-shadow: 
    rgba(145, 158, 171, 0.2) 0px 0px 2px 1px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    border-radius: 15px;
    width: 100%;
    padding: 1rem 1rem;
    display: grid;
    gap: 2rem;

    h2{
        @media screen and (max-width:540px){
            font-size: .9rem;
         }
    }

}