
.template{
    display: grid;
    gap: 1rem;
    // grid-template-columns: repeat(2, 1fr);
    .text{
        font-size: 1.1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media screen and (max-width:540px){
          font-size: 13px;
         }

        .title{
            font-weight: 800;
            color: rgb(55, 53, 53);
            font-size: 1.1rem;

            @media screen and (max-width:540px){
                font-size: 13px;
               }
        }

        .figures{
            justify-self: end;
            .bold{
                font-weight: 800;
                color: rgb(45, 44, 44);
            }
            .light{
                color: rgb(141, 134, 134);
                margin-left: .5rem;
            }
        }

       
    }
}