.template{
    display: grid;
    grid-template-columns: 4rem 15rem 9rem ;
    align-items: center;
    width: 28rem;
    height: 6rem;
    padding: 0rem 1rem;
    font-family: 'open sans', sans-serif;
    // border-top: 1px solid rgb(242, 236, 236);

    .image{
        border: 5px solid rgb(91, 238, 181);
        border-radius: 50%;
        width: 40px;
        height: 40px;

    }

    .text{
        line-height: .5rem;
        h4{
            font-size: 1rem;
            color: rgb(61, 60, 60);
        }
        p{
            color: rgb(175, 169, 169);
        }
    }
    .time-stamp{
        color: rgb(229, 229, 229);
        justify-self: end;
    }
}