.notif{
    background: transparent;
    border: none;
    outline: none;
   
   &:hover{
    //    border-radius: 50%;
    //    background-color:rgb(246, 247, 250);
       cursor: pointer;
   }

 .icon{
   padding: .9rem;
   color:rgb(99, 115, 129);
   border-radius: 50%;
   width: 33px;
   height: 28px;
 }
 .block{
    // margin-left: 2rem;
  h2{
    display: grid;
    justify-content: center;
    background-color: rgb(255, 162, 0);
    height:25px ;
    width:25px ;
    padding: .7rem;
    border-radius: 50%;
  }
}

}
.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  border-bottom: 1px dashed rgb(237, 235, 235);

  .name{
    font-size: 1.1rem;
    font-weight: bold;
  }

  .email{
    font-size: 1.1rem;
    color: rgb(167, 162, 162);
    margin-top: -.5rem;
  }

  .heading{
    color: rgb(70, 67, 67);
    font-size: .9rem;
  }
}

.menuItem{
    height: 3rem;
    display: grid;
    // justify-content: center;
    align-content: center;
    font-size: 1.15rem;
    width: 14rem;
}