.appContainer{
    // display: grid;
    // justify-content: center;
    width: 100%;

    .firstDiv{
        display: grid;
        width: 100%;
        grid-template-columns: 45rem 24rem;
        gap:7rem;
        justify-content: center;

        @media screen and(max-width:1650px){
            grid-template-columns: 45rem 30rem;
        }

        @media screen and(max-width:1350px){
            grid-template-columns: 42rem 20rem;
        }

        @media screen and(max-width:1150px){
            grid-template-columns: 60rem;
            gap: 3rem;
        }

         @media screen and(max-width:1100px){
            grid-template-columns: 56rem;
            gap: 3rem;
        }

        @media screen and(max-width:920px){
            grid-template-columns: 50rem;
            gap: 3rem;
        }

        @media screen and(max-width:820px){
            grid-template-columns: 40rem;
            gap: 3rem;
        }

        @media screen and(max-width:540px){
            grid-template-columns: 25rem;
            gap: 3rem;
        }

        @media screen and(max-width:450px){
            grid-template-columns: 18rem;
            gap: 3rem;
        }

         @media screen and(max-width:360px){
            grid-template-columns: 16rem;
            gap: 3rem;
        }




        .one,.two{
            width: 100%;

            // @media screen and(max-width:820px){
            //     grid-column: 1/span 2;
            // }
        }

        .one{
            background-color: rgb(223, 248, 233);
            padding:4rem 2rem ;
            border-radius: 15px;
            display: grid;

            @media screen and(max-width:1150px){
                text-align: center;
                width: 100%;
                justify-content: center;
                justify-self: center;
            }

            .content{
                display: grid;
                grid-template-columns: 26rem 20rem;
                gap: 1rem;

                @media screen and(max-width:1150px){
                    grid-template-columns: 1fr;
                    justify-content: center;
                }

                .text{
                    h1{
                        color: rgb(0, 82, 73);
                        font-weight: bold;
                        line-height: 1.5;
                        font-size: 2rem;
                        font-family: "Public Sans", sans-serif;
                        padding: 0;
                        margin: 0;
                    }

                    p{
                        color: rgb(36, 152, 139);
                        font-size: 1.13rem;
                        line-height: 2rem;
                    }

                    button{
                        color:rgb(238, 240, 240);
                        font-family: inherit;
                        font-weight: 700;
                        background-color: rgb(45, 162, 45);
                        outline: none;
                        border: none;
                        padding: 11px 20px;
                        font-size: 1.2rem;
                        border-radius: 7px;
                        margin-top: 1rem;
                        cursor: pointer;
                    }
                }

                .image{
                    img{
                        width: 16rem;
                        transform: rotate(-10deg);

                    }
                }
            }
        }

        .two{
            height: 20rem;
            border-radius: 15px;
            justify-self: center;
            @media screen and(max-width:1150px){
                width: 64rem;
            }

             @media screen and(max-width:1100px){
             width: 60rem;
        }

        @media screen and(max-width:920px){
            width: 54rem;
       }

        @media screen and(max-width:820px){
           width: 44rem;
        }

        @media screen and(max-width:540px){
           width: 29rem;
        }

        @media screen and(max-width:450px){
            width: 22rem;
         }

          @media screen and(max-width:360px){
            width: 20rem;
         }

        }


    }

    .secondDiv{
       margin-top: 2.5rem;
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 3rem;

       @media screen and(max-width:1650px){
        gap: 6rem;

        @media screen and(max-width:1350px){
            grid-template-columns: repeat(3,19rem);
            justify-content: center;
        }

        @media screen and(max-width:1150px){
            grid-template-columns: 64rem;
            margin-top: 5rem;
            gap: 2rem;
        }
          @media screen and(max-width:1100px){
            grid-template-columns: 60rem;
            margin-top: 5rem;
            gap: 2rem;
        }

        @media screen and(max-width:920px){
            grid-template-columns: 54rem;
            margin-top: 5rem;
            gap: 2rem;
        }

        @media screen and(max-width:820px){
            grid-template-columns: 44rem;
            margin-top: 5rem;
            gap: 2rem;
        }

        @media screen and(max-width:540px){
            grid-template-columns: 29rem;
            margin-top: 5rem;
            gap: 2rem;
        }

        @media screen and(max-width:450px){
            grid-template-columns: 22rem;
            margin-top: 5rem;
            gap: 2rem;
        }

         @media screen and(max-width:360px){
            grid-template-columns: 20rem;
            margin-top: 5rem;
            gap: 2rem;
        }
        
    }

    }
    .thirdDiv{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 23rem 49rem;
        gap: 4rem;
        justify-content: center;

        @media screen and(max-width:1650px){
            grid-template-columns: 23rem 45rem;
            gap: 10rem
        }
        @media screen and(max-width:1350px){
            grid-template-columns: repeat(2, 25rem);
            gap: 5rem;
            justify-content: center;
        }

        @media screen and(max-width:1150px){
            grid-template-columns: 64rem;
            margin-top: 5rem;
            gap: 2rem;
        }

        @media screen and(max-width:1100px){
            grid-template-columns: 60rem;
            margin-top: 5rem;
            gap: 2rem;
        }

          @media screen and(max-width:920px){
            grid-template-columns: 54rem;
            margin-top: 5rem;
            gap: 2rem;
        }

        @media screen and(max-width:820px){
            grid-template-columns: 44rem;
            margin-top: 5rem;
            gap: 2rem;
        }

        @media screen and(max-width:540px){
            grid-template-columns: 29rem;
            margin-top: 5rem;
            gap: 2rem;
        }

        @media screen and(max-width:450px){
            grid-template-columns: 22rem;
            margin-top: 5rem;
            gap: 2rem;
        }

          @media screen and(max-width:360px){
            grid-template-columns: 20rem;
            margin-top: 5rem;
            gap: 2rem;
        }

        

    }
    .fourthDiv{
        margin-top: 2rem;
        display: grid;

        @media screen and(max-width:1350px){
            width: 100%;
            // justify-self: center;
        }

        @media screen and(max-width:1150px){
            justify-content: center;
            grid-template-columns: 64rem;
        }

         @media screen and(max-width:1100px){
            justify-content: center;
            grid-template-columns: 60rem;
        }

        @media screen and(max-width:920px){
            justify-content: center;
            grid-template-columns: 54rem;
        }

        @media screen and(max-width:820px){
            justify-content: center;
            grid-template-columns: 44rem;
        }

        @media screen and(max-width:540px){
            justify-content: center;
            grid-template-columns: 29rem;
        }

        @media screen and(max-width:450px){
            justify-content: center;
            grid-template-columns: 22rem;
        }

         @media screen and(max-width:450px){
            justify-content: center;
            grid-template-columns: 20rem;
        }
    }
    .fifthDiv{
        display: grid;
        margin-top: 2rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;

        @media screen and(max-width:1350px){
           width: 68rem;
        }

        @media screen and(max-width:1150px){
            width: 64rem;
        }

         @media screen and(max-width:1100px){
            grid-template-columns: 60rem;
            justify-content: center;
        }

        @media screen and(max-width:920px){
            grid-template-columns: 54rem;
            justify-content: center;
        }

        @media screen and(max-width:820px){
            grid-template-columns: 44rem;
            justify-content: center;
        }

        @media screen and(max-width:540px){
            grid-template-columns: 29rem;
            justify-content: center;
        }
        
        @media screen and(max-width:450px){
            grid-template-columns: 22rem;
            justify-content: center;
        }

         @media screen and(max-width:375px){
            grid-template-columns: 20rem;
            justify-content: center;
        }
    }
}