.analytics{
    display: grid;
    padding: 1rem;
    // justify-content: center;
    // justify-self: center;

    .secondDiv{
        margin-top: 2.5rem;
        display: grid;
        justify-self: center;
    }

    .thirdDiv{
        display: grid;
        grid-template-columns: 44rem 24rem;
        margin-top: 2.5rem;
        // justify-self: center;
        gap: 6rem;
    }

    .fourthDiv{
        display: grid;
        grid-template-columns: 46rem 24rem;
        margin-top: 2.5rem;
        gap: 4rem;
        justify-self: center;
    }
}